<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Projetos</title>

    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Plataforma de Projetos</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/cliente/index">Clientes</a></li>
                <li><a href="/projeto/index">Projetos</a></li>
                <li><a href="/atividade/index">Atividades</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="main" class="container-fluid" style="margin-top: 50px">
    <div id="top" class="row">
        <div class="col-sm-3">
            <h2>Projetos</h2>
        </div>
        <div class="col-sm-6">
        </div>
        <div class="col-sm-3">
            <button type="button" class="btn btn-primary pull-right h2" data-toggle="modal" data-target="#cadastrarProjeto">Novo Projeto</button>
        </div>
    </div>

    <hr />

    <div id="list" class="row">
        <div class="table-responsive col-md-12">
            <table class="table table-striped" cellspacing="0" cellpadding="0">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Descrição</th>
                    <th>Status</th>
                    <th>ID do Cliente</th>
                    <th>Atividades</th>
                    <th class="actions">Ações</th>
                </tr>
                </thead>
                <tbody id="projetosTableBody">
                </tbody>
            </table>
        </div>
    </div>

</div>

<div class="modal fade" id="cadastrarProjeto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Dados do Projeto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="projetoTitulo" class="col-form-label">Titulo:</label>
                        <input type="text" class="form-control" id="projetoTitulo">
                    </div>
                    <div class="form-group">
                        <label for="projetoDescricao" class="col-form-label">Descrição:</label>
                        <input type="text" class="form-control" id="projetoDescricao">
                    </div>
                    <div class="form-group">
                        <label for="projetoStatus" class="col-form-label">Status:</label>
                        <input type="text" class="form-control" id="projetoStatus">
                    </div>
                    <div class="form-group">
                        <label for="clienteSelectList" class="col-form-label">Nome do Cliente:</label>
                        <select id="clienteSelectList">
                        </select>
                    </div>

                    <input type="hidden" id="projetoId">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" onclick="ProjetoController.save()">Salvar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="listaDeAtividades" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="atividadesModalLabel">Atividades</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <table class="table table-striped" cellspacing="0" cellpadding="0">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Titulo</th>
                            <th>Descrição</th>
                            <th>ID do Cliente</th>
                        </tr>
                        </thead>
                        <tbody id="atividadesListTableBody">
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/cliente/ClienteController.js}"></script>
<script th:src="@{/assets/js/projeto/ProjetoController.js}"></script>
<script th:src="@{/assets/js/atividade/AtividadeController.js}"></script>

<script type="text/javascript">
    $(function() {
        ClienteController.clienteList();
        ProjetoController.list();
    });
</script>

</body>
</html>